<!DOCTYPE>
<html>
<head>
  <title>Hello</title>
</head>
<body>
    <p><b>Delete</b></p>
    <form action="/delete" method="DELETE">
      Iphone id to delete:<br><br>
      <input type="text" name="id" value="">    
      <br><br>
      <input type="submit" value="Submit">
    </form>
</body>
</html>