<!DOCTYPE>
<html>
<head>
  <title>LOGIN</title>
</head>
<body>
  <p>WELCOME TO LOGIN SITE <%= infor%></p>
    <form class="" action="/login" method="POST">
      Username:<br>
      <input type="text" name="username" placeholder="Username" autocomplete="off">
      <br>
      Password: <br>
      <input type="password" name="password" placeholder="password" autocomplete="off">
      <br><br>
      <input type="submit" name="submit" value="Login">
    </form>
</body>
</html>